.widget-search
{
    form
    {
        position: relative;

        margin: 15px 0 7px;
    }

    &__input
    {
        font-size: .85rem;

        width: 100%;
        padding: 7px 8px 7px 40px;

        text-overflow: ellipsis;

        color: $color-gray;
        border: 1px solid rgba($color-light, .15);
        border-radius: 4px;

        @include bg-color(.1, $color-light);

        &:focus
        {
            color: $color-light;
            border: 1px solid rgba($color-light, .3);
            outline: none;

            @include bg-color(.2, $color-light);
        }

        &::placeholder
        {
            color: $color-gray;
        }
    }

    &__submit
    {
        position: absolute;
        top: 1px;
        bottom: 1px;
        left: 1px;

        padding: 5px 7px;

        cursor: pointer;

        color: $color-light;
        border: none;
        border-right: 1px solid rgba($color-light, .1);
        background-color: transparent;

        &:focus
        {
            outline: none;
        }
    }
}
