.right
{
    order: 3;
    @include lg-min
    {
        margin-bottom: $gap / 2;

        flex: 0 0 $right-sidebar-width;

        .widget-news
        {
            width: $right-sidebar-width;
        }
    }
    @include lg-md
    {
        width: 100%;
    }
    @include md-xs
    {
        width: 50%;
        padding-left: $gap / 4;
    }
    @include xs
    {
        width: 100%;
    }
}
