.main-content
{
    &__title
    {
        font-family: $font-header;
        font-weight: 300;
        line-height: 1.5em;

        margin: $gap 0;
        padding: 8px 12px;

        letter-spacing: 3px;

        color: $color-light;
        border-radius: 7px;
        background: linear-gradient(to right, rgba($color-dark, .8) 0%, rgba($color-dark, .5) 90%, rgba($color-dark, 0) 100%);

        @include sm-min
        {
            font-size: 2rem;
        }
        @include sm-xs
        {
            font-size: 1.5rem;
        }
        @include xs
        {
            font-size: 1rem;
        }
    }

    &__body
    {
        display: flex;

        margin-top: -$gap / 4;
        margin-right: -$gap / 4;
        margin-bottom: $gap - $gap / 4;
        margin-left: -$gap / 4;

        flex-wrap: wrap;
    }
}
